

.purchase-body{
    background-color: #f5f5f5 !important;
    min-height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    
}
.phone-img{
    width: 330px;
}
.img-box{
    border: 3px dotted white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-block: 20px;
}

.price-box{
    margin-top: 10px;
}
.policy-box{
    margin-top: 10px;
    font-size: 12px;
}

.purchase-view{
    border: 1px solid white;
    border-radius: 16px;
    padding: 20px;
}
.gift-check{
    padding-left: 5px;
    padding-top: 5px;
    color: black;
    display: flex;
    gap:5px;
    
}
.gift-check input{
    color: white;
    accent-color: white;
}
.gift-check label{
    margin-top: 0px;
}
.buyNow-button{
    width: 100%;
    border-radius: 15px;
    color: white;
    font-weight: 500;
}

h1{
    font-weight: 700 ;
}

.bank-offers{
    font-size: 12px;
    color: black;
}
