.orders-body{
    background-color: #f5f5f5;
    min-height: 100vh;
}


.order-details-section{
    margin-top: 20px;
}

.order-item-box{
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
    width: 86%;
    cursor: pointer;
    margin-top: 5px;
}

.delivery-status{
    display: flex;
    flex-direction: column;
}

.delivery-status span{
    color: gray;
    font-size: 14px;
}

.order-item-name{
    display: flex;
    flex-direction: column;
}

.order-item-name span{
    color: grey;
    font-size: 14px;
}

.order-item-box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}