.add-address-box{
    margin-bottom: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: #2e4760;
}
.add-address-box:hover{
    cursor: pointer;
}

.address-body{
    background-color: #9DC7C5;
    min-height: 100vh;
}
.add-address-form{
    background-color: white;
    color: #2e4760;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.add-address-form label{
    font-size: 14px;
}

 .save-button {
    background-color: #2e4760;
    border: 2px solid white;
    padding: 7px 20px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
  }


.form-footer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.form-footer span{
    font-size: 15px;
}

.form-footer span:hover{
    cursor: pointer;
}



.add-address-header{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.address-display-card .card-span{
    background-color: #e6e6e6;
	padding: 5px 10px;
	width: fit-content;
	font-size: 13px;
	border-radius: 5px;
	color: gray;
}
.address-display-card .card-text{
    color: black;
    font-size: 15px;
}
.address-display-card .row{
    align-items: center;
}

.card-title{
    margin-top: 10px;
    font-weight: bold;
}
.card-button{
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.no-address{
    margin-top: 10px;
}

.address-card{
    width: 100%;
}

.address-display{
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.address-display-card{
    padding: 15px;
    border-bottom: 1px dashed black;
}