.buyNow-body {
	background-color: #f5f5f5;
	min-height: 100vh;
}

.purchase-info {
	background-color: white;
	color: black;
}

.info-section {
	background-color: white;
	color: black;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info-selected {
	background-color: white;
	color: black;
}

.summary-section {
	background-color: white;
	position: sticky;
	color: black;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.summary-header {
	padding: 10px;
	background: #000;
	color: #fff;
}
.summary-body {
	padding: 10px;
	display: grid;
	gap: 15px;
}

.info-header {
	background-color: black;
	padding: 10px;
	color: white;
}
.info-header-selected {
	background-color: white;
	padding: 10px;
	
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info-header-selected span {
	font-size: 40px;
	color: green;
}

.info-body-selected {
	height: 50px;
	padding: 10px;
	display: flex;
}

h3 {
	font-weight: 600;
	margin-bottom: 0px;
}


.summary-section hr{
	margin-top: 0px;
}

.summary-item {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.address-card {
	margin: 0;
	border-radius: 0;
}

.info-body .address-box{
	padding: 10px;
	border-bottom: 1px dashed black;
}
.info-body .row{
	align-items: center;
}

.info-body .card-span {
	background-color: #e6e6e6;
	padding: 5px 10px;
	width: fit-content;
	font-size: 13px;
	border-radius: 5px;
	color: gray;
}

.address-details {
	display: flex;
	flex-direction: column;
}


.item-box{
	padding: 5px;
	margin-bottom: 5px;
}

.item-info{
	display: flex;
	flex-direction: column;
	justify-content: start;
}


.item-info h5{
	font-weight: 400;
	margin-bottom: 0px;
}
.button-box{
	padding: 10px;
	display: flex;
	justify-content: end;
}
.continue-btn{
	background-color: #fb641b;
	border: 0px;
	padding: 10px;
	color: white;
	font-weight: 500;
	width: 25%;
}

.text-theme-2{
	color: grey;
  font-size: 14px;
}

.list-group{
	border-radius: 0px;
}

.cod-box{
	padding: 10px;
	background-color:#dfdfdf ;
}

#canv{
	border: 1px solid blue;
}

.buyNow-btn{
	background-color: #fb641b;
	border: 0px;
	padding: 10px;
	color: white;
	font-weight: 500;
	width: 100%;
}

.upi-box{
	padding: 10px;
	background-color:#dfdfdf ;
}