.buyNow-body {
	background-color: #6E6E6E;
	min-height: 100vh;
}

.purchase-info {
	background-color: white;
	color: black;
}

.address-section {
	background-color: white;
	color: black;
}

.address-selected {
	background-color: white;
	color: black;
}

.summary-section {
	background-color: white;
	position: sticky;
	color: black;
}

.summary-header {
	padding: 10px;
	background: #000;
	color: #fff;
}
.summary-body {
	padding: 10px;
	display: grid;
	gap: 15px;
}

.info-header {
	background-color: black;
	padding: 10px;
	color: white;
}
.info-header-selected {
	background-color: white;
	padding: 10px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info-header-selected span {
	font-size: 40px;
	color: green;
}

.info-body-selected {
	height: 50px;
	padding: 10px;
	display: flex;
}

h3 {
	font-weight: 600;
	margin-bottom: 0px;
}

hr {
	margin-top: 0;
}

.summary-item {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.address-card {
	margin: 0;
	border-radius: 0;
}

.info-body .address-box{
	padding: 10px;
	border-bottom: 1px dashed black;
}
.info-body .row{
	align-items: center;
}

.info-body .card-span {
	background-color: #e6e6e6;
	padding: 5px 10px;
	width: fit-content;
	font-size: 13px;
	border-radius: 5px;
	color: gray;
}

.address-details {
	display: flex;
	flex-direction: column;
}

